<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sucesso - Loja IT</title>
    <link rel="stylesheet" type="text/css" href="/public/css/style.css" />
</head>

<body>
    <div>

        <header class="header flex flex-center">
            <h1 class="titulo">
                <a href="/">
            </a>LOJA TI
        </h1>
        </header>      
     
        <br /><br />

        <div class="flex-vertical flex-center">
            <h1 class="sub-titulo cor-verde">COMPRA CONFIRMADA COM SUCESSO</h1>
            <hr><br />
            <p class="texto text-center">
                Nossa equipe ja está preparando seu pedido para a entrega!
                Mais detalhes sobre sua compra foram enviados por email.
            </p>
        </div>

        <h3>Muito obrigado por comprar conosco</h3>
    </div>
</body>

</html>